<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MDLand - Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}
</head>
<body>
    <h1>Create an Account</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
<br>
<br>
    <form action="/">
    <input type="submit" value="Go Back to MDLand Login Page" />
    </form>
</body>
</html>