<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MDLand - Login</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}
  </head>
    <body>
        <h1>MDLand Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <h2>Not registered?</h2>
        <form action="create_acc">
            <input type="submit" value="Create an Account"/>
        </form>
    </body>
</html>